<a href="https://colab.research.google.com/github/Darielle-Angela-Valero/58013-Linear-Algebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python Indentation

if 5>2:
  print("Five is greater than two!")

Five is greater than two

Python comments

In [4]:
#This is a comment
print("hello world")

hello world

Python Variables

In [5]:
x=1
a,b=0,-1
a,b,c=0,-1,2
b = "Sally" #This is a type pf string

Casting

In [7]:
b = "Sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

In [8]:
#Type() Function

x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
#Double Quotes or Single Quotes
y = "John"
y = 'John'

In [11]:
a = 4
A ="Sally"
#A will not overwrite a

In [12]:
#Multiple Variables
x,y,z = "one","two", "three"
print(x)
print(y)
print(z)

one
two
three

In [13]:
#One Value to Multiple Variables
x = y = z ="four"
print(x)
print(y)
print(z)

four
four
four

In [15]:
#Output Variables
x = " enjoying"
print("Python programming is" + x)

Python programming is enjoying

In [16]:
x = "Python is"
y = " enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic Operations

```

In [19]:
x = 5
y = 3
print(x + y)

x = 5
y = 3
sum = x + y
print(sum)

8

8

In [20]:
a,b,c = 0,-1,6
c%=3
print(c)

0

In [22]:
#Logical Operators and Comparison Operator

a,b,c = 0,-1,6
a>b and c>b

True

In [23]:
#Identity Operators
a,b,c = 0,-1,5
a is c

False

In [31]:
#Bitwise Operators
a,b,c = 0,-1,5
c<<1

10